*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

main {
    background-color: saddlebrown;
    display: flex;
    align-items: center;
    justify-content: center;
    
    .mobile_display {
        width: 76%;
        height: 80%;
        min-width: 240px;
        background-image: linear-gradient(135deg, #333, #222, #333);
        border: 2px solid snow;
        border-radius: 24px;
        position: relative;
        overflow: hidden;
        z-index: 0;

        .content {
            background-color: #000;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 9;
            width: 100%;
            height: 100%;
            border-radius: 24px;
            opacity: 0;
            transition: all ease-in-out 0.4s;
            pointer-events: none;

            img {
                height: 100%;
                width: 100%;
                object-fit: cover;
                transition: all ease-in-out 0.4s;
                border-radius: 24px;
                transform: scale(0.6);
            }

            &.active {
                opacity: 1;
                pointer-events: all;
                
                img {
                    transform: scale(1);
                }
            }
        }

        .stories_container {
            width: 100%;
            height: 20%;
            border-bottom: 1px solid snow;
            display: flex;
            align-items: center;
            overflow-x: auto;
            column-gap: 2%;
            padding: 0 4%;

            &::-webkit-scrollbar {
                display: none;
            }

            .story {
                height: 72%;
                aspect-ratio: 1 / 1;
                flex-shrink: 0;
                border-radius: 50%;
                border: 2px solid #888;
                overflow: hidden;
                cursor: pointer;

                img {
                    height: 100%;
                    width: 100%;
                    object-fit: cover;
                    user-select: none;
                    -webkit-user-drag: none;
                }
            }
        }
    }
}