*, *::before, *::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body, main {
    width: 100%;
    height: 100%;
    min-height: 100vh;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS';
}

main {
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;

    .content {
        width: 100%;
        height: 20%;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        border-bottom: 2px solid bisque;
        position: relative;

        h1 {
            font-size: 12vw;
            color: bisque;
            font-weight: 900;
            user-select: none;
            mix-blend-mode: difference;
            position: relative;
            z-index: 1;
        }

        img {
            width: 24vw;
            height: 24vw;
            border-radius: 50%;
            position: absolute;
            user-select: none;
            transform: translate(-50%, -50%);
            transition: opacity linear 0.4s;
            opacity: 0;
            pointer-events: none;
            z-index: 0;
        }
    }
}